a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }

pre {
    text-align: left;
        font-family: 'Droid Sans Mono', Courier;        
    font-family: "Consolas", "Lucida Sans Unicode", "Monaco", "Courier New", Courier, mono, serif;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display:block;
    color:#2c3123;
    margin:15px 0px 15px -8px;
    padding:12px 20px 12px 35px;
    font-size: 14px;
    overflow:hidden;
    word-wrap:break-word;
}


/*
pre code { font-family: 'Droid Sans Mono', Courier;        
    font-family: "Consolas", "Lucida Sans Unicode", "Monaco", "Courier New", Courier, mono, serif;
    font-size: 1em;
    margin:0px;
    11px;
    padding: 2px; 
    border: 1px solid #888;
}
*/
pre webidl {
    font-family: 'Droid Sans Mono', Courier;        
    font-family: "Consolas", "Lucida Sans Unicode", "Monaco", "Courier New", Courier, mono, serif;
    font-size: 1em;
    margin:0px;
    11px;
    padding: 2px; 
    border: 1px solid #888;
}

.prettyprint {
}


.signature {
  background-color: #EFF6F1;
}

.examplecode {
  background-color: #D5E9F9;
}

.webidl {
  background-color: #FCF2F2;
}

pre.signature::before {
    content:    "Method Signature";
    display:    block;
    background: #007900;
    width: 200px;
    color:  #fff;
    font-family:    "Helvetica";
    padding:    3px;
    font-weight:    bold;
    margin: -1em 0 1em -1em;
    padding: 2px; 
    border: 1px solid #888;
}

pre.examplecode::before {
    content:    "Code Example";
    display:    block;
    background: #00C;
    width: 200px;
    color:  #fff;
    font-family:    "Helvetica";
    padding:    3px;
    font-weight:    bold;
    margin: -1em 0 1em -1em;
}

pre.webidl::before {
    content:    "WebIDL Specification";
    display:    block;
    background: #C00;
    width: 200px;
    color:  #fff;
    font-family:    "Helvetica";
    padding:    3px;
    font-weight:    bold;
    margin: -1em 0 1em -1em;
}

      .prettyprint b {
        font-weight: normal;
        color: #c61800;
        text-shadow: #c61800 0 0 1px;
        /*letter-spacing: -1px;*/
      }


      pre select {
        font-family: Monaco, Courier;
        border: 1px solid #c61800;
      }
        
      input {
        font-size: 16px;
        margin-right: 10px;
        font-family: Helvetica;
        padding: 3px;
      }
      input[type="range"] {
        width: 100%;
      }
      
      button {
        margin: 20px 10px 0 0;
        font-family: Verdana;
      }
      
      button.large {
        font-size: 32px;
      }
        
      pre b {
        font-weight: normal;
        color: #c61800;
        text-shadow: #c61800 0 0 1px;
        /*letter-spacing: -1px;*/
      }
      pre em {
        font-weight: normal;
        font-style: normal;
        color: #18a600;
        text-shadow: #18a600 0 0 1px;
      }
      pre input[type="range"] {
        height: 6px;
        cursor: pointer;
        width: auto;
      }



{
	font-size: 1em;
	counter-reset: assertion;
}

.product, .product-ua, .product-cc {
}

dfn.external {
	font-weight: normal;
	font-style: italic;
}

pre.idl {
	border:solid thin;
	background:#eee;
	color:#000;
	padding:0.5em
}

pre.idl :link, pre.idl :visited {
	color:inherit;
	background:transparent
}

dfn {
	font-style:normal;
	font-weight:bolder;
}
em.ct, em.ct-samp {
	text-transform:uppercase;
	font-style:normal;
	font-weight:normal;
}
/* nick removed
.issue {
    padding:    1em;
    border: 1px solid #f00;
    background: #ffc;
}
 
.issue::before {
    content:    "Issue";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}
*/
.comment {
    padding:    1em;
    border: 1px solid #f00;
    background: #fff	;
}
 
.comment::before {
    content:    "Comment";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}

.ws3 {
    padding:    1em;
    border: 1px solid #f00;
    background: lightblue;
}
 
.ws3::before {
    content:    "For WS3 Review";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}

.ws4 {
    padding:    1em;
    border: 1px solid #f00;
    background: lightblue;
}
 
.ws4::before {
    content:    "Under discussion";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}

.note {
	margin-left: 2em;
	border: 2px solid #CFF6D9;
	padding: .5em;
	padding-top: 0px;
	padding-bottom: 1em;
	color: #444;
	background-color: #E2FFF0;
	font-size: 0.8em;
}

dd > dl {
	margin:0px;
	padding:0px
}

code {
	font-size: 1.1em;
	text-decoration: none;
	color: #002108;
}


.dir_listing li {
	list-style-type:none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
/* removed for coderay
span span {
	background-color: yellow;
}
*/
li.folder {
	list-style-image:url(images/expanded_folder.png)
}

.authorguide {
	border: 1px solid #67BBB5;
	background:#E8EBFC;
	padding: 1em;
	font-size: .9em;
	color: #003;
}

.authorguide strong {
	padding: .2em;
	color: #003;
	border: none;
	position:relative;
	display: block;
	width: 200px;
	left: -1.5em;
	top: -1.5em;
	background: #C6D8E6;
	text-align: center;
}

span.notetitle {
	padding: .2em;
	color:#066;
	border: none;
	position:relative;
	display: block;
	width: 40px;
	left: -1.5em;
	top: -.7em;
	background: #F2FFF1;
	padding-left: .2em;
	text-align: center;
}

var {
	font-family: "Lucida Console", Monaco, monospace;
}

li.folder li {
	list-style-image: none;
}

.dir_listing .comment {
	border: none;
	font-family:"Courier New", Courier, monospace;
	color: #669933;
}

.dir_listing img {
	vertical-align: middle;
}

.redNote {
	color: red;
}

dl.procedure dt {
	font-weight: normal;
}

.editorialNote {
	padding: 5px;
	background-color: #F3B9B7;
	border: 3px dashed #FFEEB8;
	color: #444;
	font-size:0.8em;
}

li>ol {
	list-style-type:upper-alpha;
}

p[id]:after {
	font-size: .8em;
}

table.webinos {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: #808080;
	border-collapse: collapse;
	background-color: #ffffff;
}

table.webinos th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #808080;
	background-color: #ffffff;
	-moz-border-radius: ;
}

table.webinos td {
	vertical-align: top;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #808080;
	background-color: #ffffff;
	-moz-border-radius: ;
}

.webinosreqid {
	font-weight:bold;
}

.webinoseqid_ext {
	font-weight:bold;
}

webinosreqtext {
	font-style:normal;
}
	
/* Table styles */
table {
          border-spacing: 0;
          border-collapse:    collapse;
          border-bottom:  3px solid #005a9c;
          margin-bottom:  1em;
      }
 
th {
          background: #005a9c;
          color:  #fff;
          padding:    3px 5px;
          text-align: left;
          border-right: 1px solid #ddd;
      }
 
 th[scope="row"] {
          background: inherit;
          color:  inherit;
          border-top: 1px solid #ddd;
      }
 
 td {
          padding:    3px 10px;
          border-top: 1px solid #ddd;
          border-right: 1px solid #ddd;
      }
 
th:last-of-type, td:last-of-type {
          border-right: none;
      }
 
tr:nth-child(even) {
          background: #f0f6ff;
      }

.attrName, .methodName {
    background: #ffffd2;
}


	 {
	  padding: 2em 1em 2em 70px;
	  margin: 0;
	  font-family: sans-serif;
	  color: black;
	  background: white;
	  background-position: top left;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	}

	:link { color: #00C; background: transparent }
	:visited { color: #609; background: transparent }
	a:active { color: #C00; background: transparent }

	a:link img, a:visited img { border-style: none } /* no border on img links */

	a img { color: white; }        /* trick to hide the border in Netscape 4 */
	@media all {                   /* hide the next rule from Netscape 4 */
	  a img { color: inherit; }    /* undo the color change above */
	}

	th, td { /* ns 4 */
	  font-family: sans-serif;
	}

	h1, h2, h3, h4, h5, h6 { text-align: left }
	/* background should be transparent, but WebTV has a bug */
	h1, h2, h3 { color: #005A9C; background: white; padding-top: 0.2em }
	h1 { font: 170% sans-serif }
	h2 { font: 140% sans-serif }
	h3 { font: 120% sans-serif }
	h4 { font: bold 100% sans-serif }
	h5 { font: bold italic 100% sans-serif }
	h6 { font: bold small-caps 100% sans-serif }


	.hide { display: none }

	div.head { margin-bottom: 1em }
	div.head h1 { margin-top: 2em; clear: both }
	div.head table { margin-left: 2em; margin-top: 2em }

	p.copyright { font-size: small }
	p.copyright small { font-size: small }


	a[href] img:hover { background:white}

	@media screen {  /* hide from IE3 */
	a[href]:hover { background: #ffa }
	}

	pre { margin-left: 2em }
	/*
	 p {
	  margin-top: 0.6em;
	  margin-bottom: 0.6em;
	}
	*/
	dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */

	pre, code { font-family: monospace } /* navigator 4 requires this */

	ul.toc, ol.toc {
	  list-style: disc;		/* Mac NS has problem with 'none' */
	  list-style: none;
	}

	@media aural {  
	  h1, h2, h3 { stress: 20; richness: 90 }
	  .hide { speak: none }
	  p.copyright { volume: x-soft; speech-rate: x-fast }
	  dt { pause-before: 20% }
	  pre { speak-punctuation: code } 
	}



	 {
	}



.toc {
    list-style-type: none;
}

div.exampleInner pre { margin-left: 1em; margin-top: 0em; margin-bottom: 0em}
div.exampleOuter {border: 4px double gray; margin: 0em; padding: 0em}
div.exampleInner { background-color: #d5dee3;
     	           border-top-width: 4px;
       	           border-top-style: double;
       	           border-top-color: #d3d3d3;
       	           border-bottom-width: 4px;
       	           border-bottom-style: double;
       	           border-bottom-color: #d3d3d3;
       	           padding: 4px; margin: 0em }
div.exampleWrapper { margin: 4px }
div.exampleHeader { font-weight: bold; margin: 4px}



.def-api-feature dt, dt .def-device-cap, dt.const code { font: bold 100% sans-serif; }
dt.attribute code, dt.method code { font: italic 100% sans-serif; }

.def-device-caps dd { margin-bottom: 2em }

dt.method { margin-top: 2em }

.summary td {
    text-align: left;
    background-color: white;
    color: inherit;
    font-family: monospace;
    white-space:pre;
    padding: .3em 1em .3em 1em;
}
/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

/*@media print {*/
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
/*}*/

/************* CodeRay styles *************/

pre {
    margin: 1em 1em 1em 1.6em;
    padding: 2px 2px 2px 0;
    background-color: #fafafa;
    border: 1px solid #dadada;
    width:auto;
    overflow-x: auto;
    overflow-y: hidden;
}


.syntaxhl div {display: inline;}
.syntaxhl .no { padding: 2px 4px 2px 4px; background-color: #eee; margin:0 }
.syntaxhl .code pre { overflow: auto }
.syntaxhl .debug { color:white ! important; background:blue ! important; }

.syntaxhl .af { color:#00C }
.syntaxhl .an { color:#007 }
.syntaxhl .at { color:#f08 }
.syntaxhl .av { color:#700 }
.syntaxhl .aw { color:#C00 }
.syntaxhl .bi { color:#509; font-weight:bold }
.syntaxhl .c  { color:#888; }

.syntaxhl .ch { color:#04D }
.syntaxhl .ch .k { color:#04D }
.syntaxhl .ch .dl { color:#039 }

.syntaxhl .cl { color:#B06; font-weight:bold }
.syntaxhl .cm { color:#A08; font-weight:bold }
.syntaxhl .co { color:#036; font-weight:bold }
.syntaxhl .cr { color:#0A0 }
.syntaxhl .cv { color:#369 }
.syntaxhl .de { color:#B0B; }
.syntaxhl .df { color:#099; font-weight:bold }
.syntaxhl .di { color:#088; font-weight:bold }
.syntaxhl .dl { color:black }
.syntaxhl .do { color:#970 }
.syntaxhl .dt { color:#34b }
.syntaxhl .ds { color:#D42; font-weight:bold }
.syntaxhl .e  { color:#666; font-weight:bold }
.syntaxhl .en { color:#800; font-weight:bold }
.syntaxhl .er { color:#F00; background-color:#FAA }
.syntaxhl .ex { color:#C00; font-weight:bold }
.syntaxhl .fl { color:#60E; font-weight:bold }
.syntaxhl .fu { color:#06B; font-weight:bold }
.syntaxhl .gv { color:#d70; font-weight:bold }
.syntaxhl .hx { color:#058; font-weight:bold }
.syntaxhl .i  { color:#00D; font-weight:bold }
.syntaxhl .ic { color:#B44; font-weight:bold }

.syntaxhl .il { background: #ddd; color: black }
.syntaxhl .il .il { background: #ccc }
.syntaxhl .il .il .il { background: #bbb }
.syntaxhl .il .idl { background: #ddd; font-weight: bold; color: #666 }
.syntaxhl .idl { background-color: #bbb; font-weight: bold; color: #666; }

.syntaxhl .im { color:#f00; }
.syntaxhl .in { color:#B2B; font-weight:bold }
.syntaxhl .iv { color:#33B }
.syntaxhl .la { color:#970; font-weight:bold }
.syntaxhl .lv { color:#963 }
.syntaxhl .oc { color:#40E; font-weight:bold }
.syntaxhl .of { color:#000; font-weight:bold }
.syntaxhl .op { }
.syntaxhl .pc { color:#038; font-weight:bold }
.syntaxhl .pd { color:#369; font-weight:bold }
.syntaxhl .pp { color:#579; }
.syntaxhl .ps { color:#00C; font-weight:bold }
.syntaxhl .pt { color:#074; font-weight:bold }
.syntaxhl .r, .kw  { color:#080; font-weight:bold }

.syntaxhl .ke { color: #808; }
.syntaxhl .ke .dl { color: #606; }
.syntaxhl .ke .ch { color: #80f; }
.syntaxhl .vl { color: #088; }

.syntaxhl .rx { background-color:#fff0ff }
.syntaxhl .rx .k { color:#808 }
.syntaxhl .rx .dl { color:#404 }
.syntaxhl .rx .mod { color:#C2C }
.syntaxhl .rx .fu  { color:#404; font-weight: bold }

.syntaxhl .s { background-color:#fff0f0; color: #D20; }
.syntaxhl .s .s { background-color:#ffe0e0 }
.syntaxhl .s .s  .s { background-color:#ffd0d0 }
.syntaxhl .s .k { }
.syntaxhl .s .ch { color: #b0b; }
.syntaxhl .s .dl { color: #710; }

.syntaxhl .sh { background-color:#f0fff0; color:#2B2 }
.syntaxhl .sh .k { }
.syntaxhl .sh .dl { color:#161 }

.syntaxhl .sy { color:#A60 }
.syntaxhl .sy .k { color:#A60 }
.syntaxhl .sy .dl { color:#630 }

.syntaxhl .ta { color:#070 }
.syntaxhl .tf { color:#070; font-weight:bold }
.syntaxhl .ts { color:#D70; font-weight:bold }
.syntaxhl .ty { color:#339; font-weight:bold }
.syntaxhl .v  { color:#036 }
.syntaxhl .xt { color:#444 }

.syntaxhl .ins { background: #cfc; }
.syntaxhl .del { background: #fcc; }
.syntaxhl .chg { color: #aaf; background: #007; }
.syntaxhl .head { color: #f8f; background: #505 }

.syntaxhl .ins .ins { color: #080; font-weight:bold }
.syntaxhl .del .del { color: #800; font-weight:bold }
.syntaxhl .chg .chg { color: #66f; }
.syntaxhl .head .head { color: #f4f; }



/*nick additions*/
.r {background:#F5A9A9;}
.g {background:#CCFF99;}
.a {background:#FFCC99;}
.y {background:#F4FA58;}


.issue-title{
font-style:italic
	}
	
.issue-title::before {
    content:    "Description:";
	font-weight: bold;
	width: 100px;
	display: inline-block;
	
	}
.issue-status{
font-style:italic;

	}
	
.issue-status::before {
    content:    "Status:";
	font-weight: bold;
width: 100px;
	display: inline-block;
	}
.issue-date{
font-style:italic
	}
	
.issue-date::before {
    content:    "Date:";
	font-weight: bold;
	width: 100px;
	display: inline-block;
	}	
.issue-row{ }	
	
	
.todo
{
    background:red;
    color:#fff;

}
.todo:before
{
 content: "TODO: ";
}

.rev
{
    background:blue;
    color:#fff;

}

.rev:before
{
 content: "REVIEW: ";
}
	


/*
.issue-title{
	display:table-cell; padding: 5px; border: 1px solid #000000;

	}
	
.issue-date {display:table-cell; padding: 5px; border: 1px solid #000000;}
.issue-status{display:table-cell; padding: 5px; border: 1px solid #000000;}
.issue-row{display:table-row; }

*/
